In [15]:
import pandas as pd

In [16]:
df = pd.read_csv('data/World Population Dataset.csv')

In [17]:
df.head()

,Rank,country,Capital,Continent,Area (km²),1950,1955,1960,1965,1970 Population,...,1985,1990 Population,1995,2000 Population,2005,2010 Population,2015 Population,2020 Population,2023,World Population Percentage
0,36,Afghanistan,Kabul,Asia,652230,7480461,7971931,8622466,9565147,10752971,...,10512221,10694796,16418912,19542982,24411191,28189672,33753499,38972230,42239854,0.52
1,138,Albania,Tirana,Europe,28748,1252582,1453730,1711189,2009789,2324731,...,3171725,3295066,3284364,3182021,3032634,2913399,2882481,2866849,2832439,0.04
2,34,Algeria,Algiers,Africa,2381741,9019866,10242288,11394307,12381256,13795915,...,22132905,25518074,28478022,30774621,32956690,35856344,39543154,43451666,45606480,0.56
3,213,American Samoa,Pago Pago,Oceania,199,19032,19826,20085,23391,27075,...,39663,47818,53401,58230,57254,54849,51368,46189,43914,0.00
4,203,Andorra,Andorra la Vella,Europe,468,6005,6116,9443,13563,19860,...,43809,53569,62928,66097,79826,71519,71746,77700,80088,0.00

In [18]:
row_count = len(df)

In [19]:
print(f'This Dataset has {row_count} rows')

This Dataset has 216 rows

In [20]:
df1 = pd.read_csv('data/climate_change_indicators.csv')

In [21]:
df1.head()

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021,F2022
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.281,0.456,1.093,1.555,1.540,1.544,0.910,0.498,1.327,2.012
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.333,1.198,1.569,1.464,1.121,2.028,1.675,1.498,1.536,1.518
2,3,Algeria,DZ,DZA,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.192,1.690,1.121,1.757,1.512,1.210,1.115,1.926,2.330,1.688
3,4,American Samoa,AS,ASM,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.257,1.170,1.009,1.539,1.435,1.189,1.539,1.430,1.268,1.256
4,5,"Andorra, Principality of",AD,AND,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.831,1.946,1.690,1.990,1.925,1.919,1.964,2.562,1.533,3.243

In [22]:
row_count1 = len(df1)

In [23]:
print(f'This Dataset has {row_count1} rows')

This Dataset has 225 rows

In [24]:
df2 = pd.read_csv('data/world_gdp_data.csv', encoding='cp1252')

In [25]:
df2.head()

,country_name,indicator_name,1980,1981,1982,1983,1984,1985,1986,1987,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,Annual GDP growth (percent change),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,2.2,2.6,1.2,3.9,-2.4,-20.7,NaN,NaN,NaN
1,Albania,Annual GDP growth (percent change),2.7,5.7,2.9,1.1,2.0,-1.5,5.6,-0.8,...,2.2,3.3,3.8,4.0,2.1,-3.3,8.9,4.8,3.6,3.3
2,Algeria,Annual GDP growth (percent change),-5.4,3.0,6.4,5.4,5.6,5.6,-0.2,-0.7,...,3.7,3.2,1.4,1.2,1.0,-5.1,3.4,3.2,3.8,3.1
3,Andorra,Annual GDP growth (percent change),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4,3.7,0.3,1.6,2.0,-11.2,8.3,8.8,2.1,1.5
4,Angola,Annual GDP growth (percent change),2.4,-4.4,0.0,4.2,6.0,3.5,2.9,4.1,...,0.9,-2.6,-0.2,-1.3,-0.7,-5.6,1.2,3.0,1.3,3.3

In [26]:
row_count2 = len(df2)

In [27]:
print(f'This Dataset has {row_count2} rows')

This Dataset has 196 rows